$font-family-base: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif !default;
$font-family-heading: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif !default;

:root {
  --font-family: #{$font-family-base};
}
