$font-family-base: "Microsoft JhengHei", "PingFang TC", sans-serif !default;
$font-family-heading: "Microsoft JhengHei", "PingFang TC", sans-serif !default;

:root {
  --font-family: "Microsoft JhengHei", "PingFang TC", sans-serif;
}

body {
  font-family: "Microsoft JhengHei", "PingFang TC", sans-serif !important;
}
